Flask==2.3.3
Flask-RESTful==0.3.10
flask-cors==4.0.0
google-cloud-documentai==3.6.0
grpcio-status==1.59.3
marshmallow==3.21.3
peewee==3.17.6
pgvector==0.3.0
pip==23.2.1
psycopg2-binary==2.9.9
PyPDF2==3.0.1
python-decouple==3.8
SQLAlchemy==1.4.52
vertexai==1.44.0